<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Загруженные файлы</h2>
        {% if no_files %}
            <p>No JSON files found.</p>
        {% else %}
    <h3>JSON файлы:</h3>
        <ul>
            {% for file in json_files %}
                <li>{{ file }}</li>
            {% endfor %}
        </ul>  
        {% endif %}
        <a href="{% url 'sport_view' %}">Вернуться на главную</a>
</body>
</html>