<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        {% if messages %}
            <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    <form method="post">
        {% csrf_token %}
        <div class="f">
            <label for="id_name">{{ form.name.label }}</label>
            {{ form.name }}
        </div>
        <div class="f">
            <label for="id_surname">{{ form.surname.label }}</label>
            {{ form.surname }}
        </div>
        <div class="f">
            <label for="id_age">{{ form.age.label }}</label>
            {{ form.age }}
            {% if form.age.errors %}
                <div class="error">{{ form.age.errors }}</div> <!-- Если произошла ошибка -->
            {% endif %}
        </div>
        <div class="f">
            <label for="id_gender">{{ form.gender.label }}</label>
            {{ form.gender }}
        </div>
        <div class="f">
            <label for="id_cats">{{ form.spcat.label }}</label>
            {{ form.spcat }}
        </div>
        <div class="f">
            <label for="id_types">{{ form.sptype.label }}</label>
            {{ form.sptype }}
            {% if form.sptype.errors %}
                <div class="error">{{ form.sptype.errors }}</div> <!-- Если произошла ошибка (не выбран ни один вариант)-->
            {% endif %}
        </div>
        <div class="f">
            <label for="id_save">{{ form.savepl.label }}</label>
            {{ form.savepl }}
        </div>
    <button type="submit" class="btn btn-primary">Отправить</button>
    </form>

    <a href="{% url 'upload_file' %}">Перейти на страницу загрузки файлов</a><br>
    <a href="{% url 'splist' %}">Перейти на страницу просмотра содержимого</a>
</div>
</body>
</html>